﻿@model FTS_3._1.TBL_SORUN

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TBL_SORUN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yetkili)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetkili)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bolge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bolge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gorsel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gorsel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cozuldu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cozuldu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
