﻿@model FTS_3._1.TBL_SORUN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TBL_SORUN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yetkili)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetkili)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bolge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bolge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gorsel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gorsel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cozuldu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cozuldu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
